---
import Layout from "../layouts/Layout.astro";
import GSborked from "../components/GSborked.astro";
---

<Layout>
  <div class="flex items-center justify-center">
    <GSborked />
  </div>

</Layout>