---
import Features from "../components/Features.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";
import Contribute from "../components/Contribute.astro";
import Download from "../components/Download.astro";
import Community from "../components/Community.astro";
---

<Layout>
    <div class="flex flex-col gap-16">
        <Hero />
        <Features />
        <Download />
        <Contribute />
        <Community />
    </div>
</Layout>
