---
import OpenSourceAnim from "./OpenSourceAnim.astro";
import { Icon } from "astro-icon/components";
---

<section id="contribute" class="flex min-h-screen flex-col items-center justify-center">
    <h2 class="mb-12 text-center text-2xl font-semibold md:text-3xl lg:text-4xl 2xl:text-5xl">
        <span class="bg-gradient-to-r from-transparent to-indigo-400 bg-clip-text text-transparent">CCCC/</span><!--
    -->Contribute<!--
    -->
        <span class="bg-gradient-to-l from-transparent to-indigo-400 bg-clip-text text-transparent">/eeeee</span>
    </h2>
    <div class="flex flex-col items-center gap-6">
        <OpenSourceAnim />
        <p class="max-w-2xl text-center text-lg text-gray-300">
            WinBoat is an <a target="_blank" rel="noopener noreferrer" href="https://github.com/TibixDev/winboat">open-source project</a> licensed under MIT, and
            we welcome contributions from the community. Whether you're a developer, designer, or just someone who loves WinBoat and would like to help us financially,
            there are multiple ways you can help us improve and grow.
        </p>
        <div class="mt-6 flex flex-col gap-6 md:flex-row">
            <a
                href="https://github.com/TibixDev/winboat"
                target="_blank"
                rel="noopener noreferrer"
                class="flex flex-row items-center gap-2 rounded-md bg-blue-300 px-6 py-3 text-neutral-800 shadow-md shadow-blue-200/60 transition ease-in-out hover:scale-x-105 hover:shadow-lg hover:shadow-blue-200/70 hover:saturate-200">
                <Icon class="h-6 w-6" name="fluent:code-block-32-filled" />
                Browse Repository
            </a>
            <a
                href="https://ko-fi.com/winboat"
                target="_blank"
                rel="noopener noreferrer"
                class="flex flex-row items-center gap-2 rounded-md bg-red-300 px-6 py-3 text-neutral-800 shadow-md shadow-red-200/60 transition ease-in-out hover:scale-x-105 hover:shadow-lg hover:shadow-red-200/70 hover:saturate-200">
                <Icon class="h-6 w-6" name="cib:ko-fi" />
                Donate through Ko-fi
            </a>
            <a
                href="#"
                onclick="navigator.clipboard.writeText('4AkmHDdHDmJgsz75Yj9gRUJKcroWLg7x6Rf3bBWd4G5ZebiFtPebynKCsJRrVyzh8TZdEM6VqiKF4do5tnQzLAojDzDcs8L'); alert('XMR Address copied to clipboard!'); return false;"
                class="flex flex-row items-center gap-2 rounded-md bg-orange-300 px-6 py-3 text-neutral-800 shadow-md shadow-orange-200/60 transition ease-in-out hover:scale-x-105 hover:shadow-lg hover:shadow-orange-200/70 hover:saturate-200">
                <Icon class="h-6 w-6" name="token:xmr" />
                Copy XMR Address
            </a>
        </div>
        <p class="text-center text-gray-500">
            <b>Note:</b> If you have sent donation via XMR make sure to alert us on Discord manually to receive your Donator role.
        </p>
        <script
            src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"
            onload="kofiWidgetOverlay.draw('winboat', {
          'type': 'floating-chat',
          'floating-chat.donateButton.text': 'Support Us',
          'floating-chat.donateButton.background-color': '#794bc4',
          'floating-chat.donateButton.text-color': '#fff'
        });"
        ></script>
    </div>
</section>

<style>
    p a {
        color: oklch(67.3% 0.182 276.935);
        text-decoration: underline;
    }
</style>
