---
import feat_dash from "../assets/features/feat_dash.webp";
import feat_install from "../assets/features/feat_install.webp";
import feat_apps from "../assets/features/feat_apps.webp";
import feat_fs from "../assets/features/feat_fs.webp";
import feat_misc from "../assets/features/feat_misc.webp";
import FeatureCard from "./FeatureCard.astro";
import Lightbox from "./Lightbox.astro";
import { Icon } from "astro-icon/components";

const features = [
    {
        title: "Elegant Interface",
        description:
            "WinBoat provides a sleek and intuitive interface that seamlessly integrates Windows into your Linux desktop environment, making it feel like a native experience.",
        iconName: "fluent:apps-list-detail-32-filled",
        imageSrc: feat_dash.src,
        imageAlt: "Dashboard Feature",
        reverse: false,
    },
    {
        title: "Automated Installs",
        description:
            "Installing Windows via WinBoat is a delightfully simple process all done through our interface. Pick your preferences & specs and let us handle the rest.",
        iconName: "fluent:box-32-filled",
        imageSrc: feat_install.src,
        imageAlt: "Installation Feature",
        reverse: true,
    },
    {
        title: "Run Any App",
        description:
            "If it runs on Windows, it can run on WinBoat. Enjoy the full range of Windows applications, from productivity tools to entertainment, all within your Linux environment as native OS-level windows.",
        iconName: "fluent:apps-32-filled",
        imageSrc: feat_apps.src,
        imageAlt: "Applications Feature",
        reverse: false,
    },
    {
        title: "Filesystem Integration",
        description:
            "Accessing your Linux filesystem from Windows is a breeze. Your home directory is mounted in Windows, allowing you to easily share files between the two systems without any hassle.",
        iconName: "fluent:hard-drive-32-filled",
        imageSrc: feat_fs.src,
        imageAlt: "Filesystem Feature",
        reverse: true,
    },
    {
        title: "And many more...",
        description:
            "There's tons more you can do with WinBoat, for example smartcard passthrough and resource monitoring. We're always looking to add more features, so stay tuned for updates!",
        iconName: "fluent:sparkle-32-filled",
        imageSrc: feat_misc.src,
        imageAlt: "Additional WinBoat Features",
        reverse: false,
    },
];
---

<section id="features">
    <h2 class="mb-12 text-center text-2xl font-semibold md:text-3xl lg:text-4xl 2xl:text-5xl">
        <span class="bg-gradient-to-r from-transparent to-indigo-400 bg-clip-text text-transparent">FFFFF/</span><!--
    -->Features<!--
    -->
        <span class="bg-gradient-to-l from-transparent to-indigo-400 bg-clip-text text-transparent">/sssss</span>
    </h2>
    <div class="hidden items-center md:flex md:flex-col md:gap-6">
        {features.map((feature) => <FeatureCard {...feature} />)}
    </div>
    <!--Overflow-x conflicted with tablet view, thus mobile view is separated.-->
    <div class="mb-5 flex items-center justify-center gap-1 text-center text-gray-300 md:hidden">
        <Icon class="h-6 w-6 origin-bottom -translate-y-1 -rotate-20 motion-safe:animate-[wiggle_3s_ease-out_infinite]" name="material-symbols:swipe" />
        <p>Scroll for <span class="text-indigo-300">more</span>!</p>
    </div>
    <div class="flex snap-x items-center overflow-x-auto md:hidden md:gap-6">
        {features.map((feature) => <FeatureCard {...feature} />)}
    </div>

    <!-- Lightbox component for image viewing -->
    <Lightbox />

    <style>
        @keyframes wiggle {
            0%,
            100% {
                transform: rotate(-20deg);
            }
            50% {
                transform: rotate(20deg);
            }
        }
    </style>
</section>
