---
import winboat_logo from "../assets/winboat_logo.svg";
---

<header class="relative my-5 w-full">
    <div class="flex items-center justify-between">
        <div class="flex flex-row items-center gap-2 select-none">
            <img src={winboat_logo.src} alt="WinBoat Logo" class="h-12 w-12" />
            <span class="text-3xl font-semibold text-indigo-400">WinBoat</span>
        </div>

        <!-- Mobile Button -->
        <button
            id="menu-btn"
            class="h-12 w-12 rounded-full border-2 border-indigo-500 bg-indigo-500/20 text-3xl text-indigo-300 shadow-md shadow-indigo-500/60 transition-all duration-300 hover:scale-105 hover:text-white lg:hidden">
            ☰
        </button>

        <!-- Desktop bar -->
        <nav class="hidden lg:block">
            <ul
                class="md:text-md flex flex-row items-center gap-2 rounded-full border-2 border-indigo-500 bg-indigo-500/20 px-2 py-2 text-sm text-indigo-300 shadow-md shadow-indigo-500/60 transition-colors duration-300 *:transition-all *:hover:scale-x-110 *:hover:px-0.5 *:hover:text-white md:gap-6 md:px-6">
                <li><a href="#features">Features</a></li>
                <li><a href="#requirements">Pre-Requisites</a></li>
                <li><a href="#download">Download</a></li>
                <li><a href="#contribute">Contribute</a></li>
                <li><a href="#community">Community</a></li>
                <li><a href="#faq">FAQ</a></li>
                <li><a href="/docs">Docs</a></li>
            </ul>
        </nav>
    </div>

    <!-- Mobile Dropdown -->
    <nav id="mobile-menu" class="absolute top-full right-0 mt-4 flex justify-end lg:hidden">
        <ul
            id="mobile-box"
            class="flex w-fit origin-top scale-y-0 flex-col items-end gap-4 rounded-xl border-2 border-indigo-500 bg-indigo-500/20 px-6 py-4 text-indigo-300 opacity-0 shadow-md shadow-indigo-500/60 backdrop-blur-md transition-all duration-300 ease-in-out">
            <li><a href="#features">Features</a></li>
            <li><a href="#requirements">Pre-Requisites</a></li>
            <li><a href="#download">Download</a></li>
            <li><a href="#contribute">Contribute</a></li>
            <li><a href="#community">Community</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="/docs">Docs</a></li>
        </ul>
    </nav>
</header>

<script>
    const btn = document.getElementById("menu-btn");
    const box = document.getElementById("mobile-box");

    let open = false;

    btn?.addEventListener("click", () => {
        open = !open;

        if (open) {
            box?.classList.remove("scale-y-0", "opacity-0");
            box?.classList.add("scale-y-100", "opacity-100");
        } else {
            box?.classList.remove("scale-y-100", "opacity-100");
            box?.classList.add("scale-y-0", "opacity-0");
        }
    });
</script>
