---
import { Icon } from "astro-icon/components";
---

<section id="requirements" class="flex min-h-screen flex-col items-center justify-center">
    <h2 class="mb-12 text-center text-2xl font-semibold md:text-3xl lg:text-4xl 2xl:text-5xl">
        <span class="bg-gradient-to-r from-transparent to-indigo-400 bg-clip-text text-transparent">PPPP/</span><!--
        -->Pre-Requisites<!--
        -->
        <span class="bg-gradient-to-l from-transparent to-indigo-400 bg-clip-text text-transparent">/sssss</span>
    </h2>

    <p class="mb-12 max-w-2xl text-center text-lg text-gray-300">Before running WinBoat, make sure your system meets the requirements below.</p>

    <div class="flex w-full max-w-3xl flex-col gap-10 text-gray-200">
        <!-- Hardware -->
        <div class="rounded-xl bg-gradient-to-r from-indigo-500/50 to-transparent p-6 backdrop-blur">
            <div class="mb-6 flex items-center gap-4">
                <Icon name="fluent:desktop-32-filled" class="h-8 w-8 text-indigo-300" />
                <h3 class="text-3xl font-bold text-white">Hardware Requirements</h3>
            </div>

            <ul class="space-y-2 text-neutral-300">
                <li>• <strong>RAM:</strong> At least 4 GB of RAM</li>
                <li>• <strong>CPU:</strong> At least 2 CPU threads</li>
                <li>• <strong>Storage:</strong> At least 32 GB of free space on the drive your selected install folder corresponds to</li>
                <li>
                    • <strong>Virtualization:</strong> KVM enabled in BIOS/UEFI
                    <a
                        href="https://duckduckgo.com/?t=h_&q=how+to+enable+virtualization+in+%3Cmotherboard+brand%3E+bios&ia=web"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="text-indigo-400 transition hover:text-indigo-300">
                        How?
                    </a>
                </li>
            </ul>
        </div>

        <!-- Containerization -->
        <div class="rounded-xl bg-gradient-to-l from-indigo-500/50 to-transparent p-6 backdrop-blur">
            <div class="mb-6 flex items-center gap-4">
                <Icon name="lucide:container" class="h-8 w-8 text-indigo-300" />
                <h3 class="text-3xl font-bold text-white">Containerization</h3>
            </div>

            <div class="space-y-8">
                <div>
                    <h4 class="mb-3 text-lg font-medium">In case of Docker:</h4>
                    <ul class="space-y-2 text-neutral-300">
                        <li>
                            • Docker
                            <a
                                href="https://docs.docker.com/engine/install/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                        <li class="flex items-start gap-2">
                            <div class="mt-1 ml-4 text-sm"><span>• </span></div>
                            <span class="text-yellow-400">⚠️</span>
                            <span>
                                <strong>NOTE:</strong> Docker Desktop is <strong>not</strong> supported, and you <strong>will</strong> run into issues when using
                                it.
                            </span>
                        </li>
                        <li>
                            • Docker Compose v2
                            <a
                                href="https://docs.docker.com/compose/install/#plugin-linux-only"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                        <li>
                            • User added to the <code class="rounded bg-white/10 px-1.5 py-0.5 font-mono text-sm text-indigo-300">docker</code> group <span
                                class="text-gray-500">(Relog required)</span
                            >
                            <a
                                href="https://docs.docker.com/engine/install/linux-postinstall/#manage-docker-as-a-non-root-user"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                        <li>
                            • Docker daemon is running <span class="text-gray-500">(Also enabled on boot)</span>
                            <a
                                href="https://docs.docker.com/engine/daemon/start/"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                    </ul>
                </div>

                <div>
                    <h4 class="mb-3 text-lg font-medium">In case of Podman:</h4>
                    <ul class="space-y-2 text-neutral-300">
                        <li>
                            • Podman
                            <a
                                href="https://podman.io/docs/installation#installing-on-linux"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                        <li>
                            • Podman Compose
                            <a
                                href="https://github.com/containers/podman-compose?tab=readme-ov-file#installation"
                                target="_blank"
                                rel="noopener noreferrer"
                                class="text-indigo-400 transition hover:text-indigo-300">
                                How?
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- FreeRDP -->
        <div class="rounded-xl bg-gradient-to-r from-indigo-500/50 to-transparent p-6 backdrop-blur">
            <div class="mb-6 flex items-center gap-4">
                <Icon name="fluent:remote-16-filled" class="h-10 w-10 text-indigo-300" />
                <h3 class="text-3xl font-bold text-white">FreeRDP</h3>
            </div>
            <p class="text-neutral-300">
                Make sure you have <strong>Version 3.x.x</strong> with <strong>sound support</strong> included.
                <a
                    href="https://github.com/FreeRDP/FreeRDP/wiki/PreBuilds"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="text-indigo-400 transition hover:text-indigo-300">
                    How?
                </a>
            </p>
        </div>
    </div>
</section>
