---
import SponsorCard from "./SponsorCard.astro";
---

<section id="sponsors" class="flex min-h-screen flex-col items-center justify-center">
    <h2 class="mb-12 text-center text-2xl font-semibold md:text-3xl lg:text-4xl 2xl:text-5xl">
        <span class="bg-gradient-to-r from-transparent to-indigo-400 bg-clip-text text-transparent">SSSS/</span><!--
        -->Sponsors<!--
        -->
        <span class="bg-gradient-to-l from-transparent to-indigo-400 bg-clip-text text-transparent">/ssss</span>
    </h2>

    <p class="mb-8 max-w-2xl text-center text-lg text-gray-300">Some awesome organizations that help make Winboat possible.</p>
    <div class="flex flex-wrap justify-center gap-8">
        <SponsorCard
            title="Firstheberg - Servers"
            description="Firstheberg provides us with reliable servers where we can host our infrastructure, such as the website you're looking at, our CI/CD pipelines, VM-s for manual testing, and more."
            iconName="mdi:server"
            imageSrc="https://www.firstheberg.com/images/logo.png"
            imageAlt="Firstheberg Logo"
            url="https://www.firstheberg.com/en/"
        />
    </div>
</section>
